<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>540237802270-f8h324a78vnve85rfg8hrmbepvir5j6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540237802270-f8h324a78vnve85rfg8hrmbepvir5j6m</string>
	<key>API_KEY</key>
	<string>AIzaSyCnnyt4LpFY_UVengVUoGbyUD3ESVDXX1s</string>
	<key>GCM_SENDER_ID</key>
	<string>540237802270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eloffstreet.flutterSensors</string>
	<key>PROJECT_ID</key>
	<string>len-flutter-sensors</string>
	<key>STORAGE_BUCKET</key>
	<string>len-flutter-sensors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540237802270:ios:fefb040d711f575d</string>
	<key>DATABASE_URL</key>
	<string>https://len-flutter-sensors.firebaseio.com</string>
</dict>
</plist>